@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --secondary-color: #2C0E37; */
  --primary-color: #414141;
  --background-color: rgb(41, 41, 41);
}

body {
  background: var(--background-color);
}
